<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Action already defined elsewhere: action_open_batch_payment_allocation_wizard -->
    <menuitem id="menu_ld_batch_pay_entries"
              name="Pagos por Lotes"
              parent="account.menu_finance_entries"
              sequence="32"
              action="action_open_batch_payment_allocation_wizard"/>
</odoo>
