<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_open_batch_payment_allocation_wizard" model="ir.actions.act_window">
        <field name="name">Batch Payment Allocation</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">batch.payment.allocation.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
        <field name="context">{}</field>
    </record>

    <menuitem id="menu_ld_batch_pay_root"
              name="Batch Payments"
              parent="account.menu_finance"
              sequence="96"
              action="action_open_batch_payment_allocation_wizard"/>
</odoo>
